<form [formGroup]="userfm" (submit)="saveUser()">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput formControlName="Name">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="Email" >
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput formControlName="pwd">
      </mat-form-field>
      <br>
      <button mat-button color="primary">Submit</button>
    </form>